// 
process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK{
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: PREPARE_DEPTH_COVERAGE{
        ext.args = '--genes GSTT1 --exclude'
        publishDir = [
            path: { "${params.outdir}/pharmacogenomics/${meta.id}/depth_coverage" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: COMPUTE_CONTROL_STATISTICS{
        ext.control_genes = 'VDR'
        publishDir = [
            path: { "${params.outdir}/pharmacogenomics/${meta.id}/control_stats" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: CREATE_INPUT_VCF {
        publishDir = [
            path: { "${params.outdir}/pharmacogenomics/${meta.id}/create_vcf" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: RUN_NGS_PIPE_STAR_ALLELES{
        publishDir = [
            path: { "${params.outdir}/pharmacogenomics/${meta.id}/ngs_pipelines/star_alleles/${meta4.id}" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: RUN_NGS_PIPE_NO_STAR_ALLELES{
        publishDir = [
            path: { "${params.outdir}/pharmacogenomics/${meta.id}/ngs_pipelines/no_star_alleles/${meta4.id}" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: GATHER_RESULTS {
        ext.prefix = 'results_gathered_alleles'
        publishDir = [
            path: { "${params.outdir}/pharmacogenomics/${meta.id}/gathered_results" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

}